* {
  border: 2px solid black;
}

.chart {
  padding-top: 50px;
  margin-top: 50px;
}

.controls {
  display: absolute;

}
.controls li {
  display: inline-block;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 89px;
  height: 40px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightBlue;
  border: 2px solid black;
  border-radius: 8px;
  pointer-events: none;
}

.dot {

}
